user  www-data;
worker_processes {{ wp_value }};
pid  {{ pid_path }};


events {
    worker_connections {{ wc_value }};
}

http {
    {% for item in nginx_settings %}
    {{ item['key'] }} {{ item['value'] }};
    {% endfor %}

    upstream backend {
        {% for item in groups['apps'] %}
        server  {{ item }};
	{% endfor %}
    }

    server {
        listen 80;
        server_name {{server_name}};
        location / {
            proxy_pass http://backend;
        }
    }


}


