user  www-data;
worker_processes {{ wp_value }};
pid  {{ pid_path }};


events {
    worker_connections {{ wc_value }};
}

http {
    {% for item in nginx_settings %}
    {{ item['key'] }} {{ item['value'] }};
    {% endfor %}
    index index1.html;
}
