server {
  listen 80;
  listen [::]:80;
	
  root {{ index_path }};

  server_name {{ server_name }} www.{{ server_name }};
  access_log /var/log/nginx/server.access.log;
  error_log /var/log/nginx/server.error.log;
  
  location /hello {
  proxy_pass http://{{server_name }};
  proxy_set_header Host $host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_pass_request_headers on;

        return 200 'OK';
  }
  location / {
	try_files $uri.html $uri $uri/ =404;
  }
  

}
